:root {
  /* Colors: */
  --white: #fff;
  --black: #000;
  --yellow: #f4d04e;
  --gray-500: #6b6b6b;
  --gray-700: #374151;
  --gray-950: #121212;

  /* Font Family */
  --ff-base: "Figtree", sans-serif;

  /* Font Size: */
  --fs-footer: 0.75rem; /* 12px */
  --fs-small: 0.875rem; /* 14px */
  --fs-base: 1rem; /* 16px */
  --fs-h2: 1.5rem; /* 24px */

  /* Font Weight: */
  --fw-base: 500;
  --fw-bold: 800;

  /* Line Height: */
  /* --lh-h2: 1.2; */
  --lh-base: 1.5;

  /* Letter Spacing: */
  --ls-base: 0;

  /* Spacing: */
  --sp-24px: 1.5rem;
  --sp-20px: 1.25rem;
  --sp-16px: 1rem;
  --sp-12px: 0.75rem;
  --sp-10px: 0.625rem;
  --sp-8px: 0.5rem;
  --sp-4px: 0.25rem;
}

/* 
********************************
SELF-HOSTING FONT:
********************************
*/

/* VARIABLE FONT: */
@font-face {
  font-family: "Figtree";
  src: url("/assets/fonts/variable-fonts/Figtree-VariableFont_wght.woff2")
    format("woff2 supports variations");
  src: url("/assets/fonts/variable-fonts/Figtree-VariableFont_wght.woff2")
    format("woff2-variations");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

/* 
********************************
GLOBAL CSS VALUES:
********************************
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  font-weight: var(--fw-base);
  line-height: var(--lh-base);
  letter-spacing: var(--ls-base);

  background-color: var(--yellow);
  color: var(--gray-950);
}

/* 
********************************
MAIN:
********************************
*/
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  max-width: 24rem;
  padding: var(--sp-24px);
  border-radius: var(--sp-20px);
  gap: var(--sp-24px);

  border: solid var(--gray-950) 1px;
  box-shadow: 8px 8px 0px 0px rgb(0, 0, 0);
}

.card__image {
  width: 100%;
  border-radius: var(--sp-10px);
}

/* Card Body: */
.card__category,
.card__title,
.card__author {
  font-weight: var(--fw-bold);
}

.card__category,
.card__date,
.card__author {
  font-size: var(--fs-small);
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: var(--sp-12px);
}

.card__category {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 5.125rem;
  height: 1.813rem;
  border-radius: var(--sp-4px);
  background-color: var(--yellow);
}

.card__title {
  font-size: var(--fs-h2);
}

.card__description {
  color: var(--gray-500);
}

/* Card Footer: */
.card__footer {
  display: flex;
  align-items: center;
  gap: var(--sp-12px);
}

.card__profile {
  width: 2rem;
  height: 2rem;
}

/* 
********************************
FOOTER:
********************************
*/
.attribution {
  text-align: center;
  font-size: var(--fs-footer);
  color: var(--gray-950);
  margin-bottom: var(--sp-24px);
}

/* LINKS */
/* Default State */
.attribution a:link {
  color: var(--gray-500);
  text-decoration: none;
}

/* Visited State */
.attribution a:visited {
  color: var(--gray-500);
}

/* State On Hover */
.attribution a:hover {
  color: var(--gray-700);
}

/* State Whilst Being Clicked */
.attribution a:active {
  color: var(--gray-700);
}
